nav
  ul
    li <a href="/" title="Home" class==current? >Home</a>
    li <a href="/about" class==current?("about") title="About">About</a>
    li <a href="/contact" class==current?("/contact") title="Contact">Contact</a>
    li <a href="/songs" class==current?("/songs") title="Songs">Songs</a>